body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    position: relative;
}
.btnInicio{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: black;
    border: 0px;
    color: white;
    z-index: 2;
}
.btnInicio a{
    color: white;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-size: 25px;
    text-decoration: none;
}
figure{
    margin:0;
}
.header{
    /* background: #A5A5A5;
     */
     background: rgb(214, 213, 213);
    margin: auto;
    
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:auto;
    flex-wrap: wrap;
}

.list-info{
    height: auto;   
}
.list-info ol{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: inherit;
    margin: 0;
    padding:0;
}
ol, ul{
    list-style: none;
    
}
.list-info a{
    display: flex;
    letter-spacing: -.5px;
    padding: 0 30px 0 0;   
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: inherit;
}
.header-image{
    margin: 0;
    height: inherit;
    display: flex;
    align-items: center;
}

/* INICIO DE MENU */
.menu{
    
    background: black;
    color: white;
    height:60px;
    max-height: auto;
    margin: 0 auto;
    
    /* position: fixed;
    z-index: 2;
    bottom  : 0; */
}
.menu ol{
    
    height: inherit;
    justify-content: space-around;
    
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

.menu ol li{
    height: inherit;
    
}
.menu a{
    
    text-decoration: none;
    color: white;
    font-size: 14px;
    height:inherit;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* width: 100%; */
    /* box-sizing: border-box; */
   
}


.menu a:hover{
   
    color: rgb(255, 255, 255);
    transition: .4s;
    
}
/*  */
/* INICIO DEL HERO */
/*  */
.hero{
    display: flex;
    
    justify-content: center;
    max-width: 2000px;
    width: 100%;
    height: auto;
    max-height: 900px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.hero img{
    max-width: 100%;

}


.slide {
    display: flex;
    transform: translate3d(0 ,0 ,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 15s;
    animation-direction: alternate;
    /* empiexa por la primera imagen */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;


}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow:0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255 , 0.5);
    margin:0 10px;
    text-align: center;
    transition:all 300ms;
}
.pagination-item:hover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation:none;
    transform: translate3d(0,0,0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
   background: #fff;
}
input[id="2"]:checked ~ .slide{
    animation:none;
    transform: translate3d(calc(-100% * 1),0,0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
   background: #fff;
}
input[id="3"]:checked ~ .slide{
    animation:none;
    transform: translate3d(calc(-100% * 2),0,0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
   background: #fff;
}

@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0),0,0);
    }
    66%{
        transform: translate3d(calc(-100% * 1),0,0);
        
    }
    100%{
        transform: translate3d(calc(-100% * 2),0,0);
        
    }
}
/* FIN DEL HERO */

/*  */
/* DIVICION SERVICIOS */
/*  */

.servicios-title{
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    /* border-bottom: 2px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; */
        
}

/* SECCION DE SERVICIOS + FOTOS */
.section-services{
    /* background: #A5A5A5; */
    display: flex;
    /* background: rgb(214, 213, 213); */
   background: radial-gradient(white 40%,rgb(214, 213, 213)); 
    /* border-bottom: 2px solid black; */
}
.container-servicios{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    /* background: rgb(214, 213, 213); */
    
}

.services-list{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 330px;
}

.services-image{
/*     
    max-height: 80px;
    /* min-width:40px;
    min-height: 40px; */
    /* max-width: 80px; */ 
    
    border: 1px solid black;
    margin: 30px 15px 30px 0px;
    border-radius: 100%;  
    display: flex;
}

.services-list h3:hover{
    color: red;
    cursor: pointer;
    transition: .4s;

}
/* MAPA */


.mapa-gsa{
    height: 440pX;
    width: 100%;
}
/*  */
/*  PROMOCION */
/*  */
.container-promotion{
    width: auto;
    /* usar text align center o justify */
    text-align: center;
    
}
.container-promotion img{
    max-width: 100%;
}
/* PROVEEDORES */
.proveedores {
    width: 100%;
    max-width: 2000px;
    height: 200px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background: #D6D5D5 ;
}
/* PROVEEDORES FOTOS */

/* NOSOTROS */

/* NOSOTROS FOTOS */
.container-gsa{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 2000px;
    width: 100%;
    background:#D6D5D5 ;
    margin: 0 auto;
    
}

.gsa{
    /* border: 2px solid blue; */
    /* height: 100% ; */
    width: 70%;
    display: flex;
    justify-content: center;
    /* align-items: center;    */
    margin: 15px auto;
    flex-wrap: wrap;
    
}
.gsa-nosotros
{   
    width:50%;
    background: white;
    display: flex;
    align-items: center;
    border-top: 5px solid black;
    min-width: 320px;
    box-shadow: 5px 10px 8px #888888;
}
.gsa-nosotros p{
    font-size: 20px;
    text-align: left;
    margin: 10px;
}
.gsa-imagecontainer{
    width:50%;
    display: flex;
    border-top: 5px solid black;
    justify-content: center;
    flex-direction: column;
    background: #999898;
    align-items: center;
    min-width: 320px;
    box-shadow: 5px 10px 8px #888888;
}
.gsa-imagecontainer img{
    width: 100%;
    max-width: 250px;
    margin-bottom: 0;
}
.gsa-imagecontainer h3{
    margin-top: 0;
}
.gsa-image{
    margin: 15px 0;
}

/* MISION */
.gsa-mision{
    width: 70%;
    height: auto;
    background: white;
    box-shadow: 5px 10px 8px #888888;
    border-top: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px auto;
}

.gsa-mision-info{
    padding: 0 40px 20px 40px;
    margin: 0;
    font-size: 20px;

}
.gsa-mision-title{
    font-size: 35px;
    padding: 0px auto;
}
.gsa-mision-title p{
    margin: 10px auto;
}

/* INSTALACIONES */

.gsa-instalaciones{
    margin-bottom: 20px;
    width: 70%;
}
.servicios-title2{
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
     /* border-bottom: 2px solid black;
     border-right: 3px solid black;
     border-left: 3px solid black;
     border-top-left-radius: 50%;
     border-top-right-radius: 50%; */
}
.instalaciones{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    /* height: 300px; */
    align-items: center;
    flex-wrap: wrap;
}
.instalaciones-img{
    height: 90%;
    padding: 20px 20px ;
   margin: 0 auto;
  
}
.instalaciones-img img{
    box-shadow: 0 0 7px 1px rgb(19, 18, 18);
    max-width: 550px;
    width: 100%;
    height: 100%;
    min-width: 170px;
}
.container-promotion{
    /* background:#EE2024; */
    border-top:2px solid black ;
  
    max-width: 2000px;
    margin: 0 auto;
}

.promotion img{
    max-width: 100%
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider{
    background: white;
    
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    /* height: 200px; */
    margin:0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 2000px;
    /* padding: 0px auto; */

}

.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 1%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 200px;
    position: absolute;
    width: 100%;
    max-width: 200px;
    min-width: 50px;
    z-index: 2;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
        animation: scroll 25s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
@keyframes scroll{
    0% {
        -webkit-transform: translateX(0); 
        transform: translateX(0); 
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

}
.footer{
    background: radial-gradient(white 10%,rgb(214, 213, 213));
    /* padding: 20px; */
    color: black;
}  
.footor-cont{
    
    display: flex;
    justify-content: space-around;
    /* height: 300px; */
    align-items: center;
    flex-wrap: wrap;
    /* background: red; */
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.foot-div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.foot-div{
    font-size: 20px;
}
.foot-div figure{
    margin: 0;
}
.foot-div img{
    width: 100%;
    min-width: 120px;
    max-width: 400px;
    
}
.foot-div h3{
    margin: 0;
}
.foot-divp{
    margin: 10px;
}

.container{
    /* background: #A5A5A5;
     */

    margin: auto;
    max-width: 2000px;
    /* width: 100%; */
    flex: 1;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height:inherit;
    flex-wrap: inherit;
    /* border-top: 2px solid black; */
}
/* desktop first se empieza del mediaquery mas grande */
@media screen and (max-width: 1600px){
    .menu{
        background: Black;
    }
    .menu a{
        color: white    ;
    }

}
@media screen and (max-width: 1023px){
    .menu{
        background: black;
    }
    .menu a{
        color: white    ;
    }
    .servicios-title{
        font-size: 1.5em;
        background: black;
        color: White;
    }
}
@media screen and (max-width: 767px){
    .menu{
        background: black;
    }
    .menu a{
        color: white    ;
    }
    .header{
        display: block;
    }
    .header-image {
        display: block;
        text-align: center;
    }
    .list-info ol{
        display: block;
    }
    .header ol li{
        height: auto;
        padding-bottom:10px ;
    }
    .header a{
        justify-content: center;
        padding: 0;
    }
    .services-list img{
        max-width: 40px;
    }
    .section-services{
        padding: 5px;
    }
    .services-image{
   
        border: 1px solid black;
        margin: 0 15px 0 0;
        border-radius: 100%;  
        display: flex;
        margin: 5px;
    }
    .services-list h3{
        font-size: 10px;
    }
    .services-list{
        border-bottom: .5px solid gray;
        margin: 2px;
    }
    
    .services-list{
        max-width: 250px;
    }
    .container-promotion{
        border-top: none;
    }
    .gsa-nosotros p{
        font-size: .7em;
    }
    .gsa-mision{
        width: initial;
    }
    .gsa-mision .gsa-mision-info{
        font-size: .7em;
    }
    .gsa-mision-info {
        padding: 0 20px 20px 20px;
    }
    .gsa{
        width: 90%;
       
    }
    .servicios-title2{
        font-size: 1.5em;
        text-shadow: 2px 2px 8px rgba(46, 43, 43, 0.739);
        color: black;
    }
    .gsa-instalaciones{
        width: 90%;
    }
    .slider{
        background: white;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.125);
        /* height: 200px; */
        margin:0 auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 2000px;
        /* padding: 0px auto; */
        border-radius: initial;
    }
    .footer{
        background: radial-gradient(white 10%,rgb(214, 213, 213)); 
    }
    .foot-div{
        color: black;
    }
    .slide2 img{
        width: 100%;
        max-width: 300px;
    }  
    .slide2 img{
        width: 100%;
        max-width: 300px;
    }    
    .slider::before, .slider::after {
        background: radial-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 50%);
        content: "";
        height: 200px;
        position: absolute;
        width: 100%;
        max-width: 90px;
        min-width: 50px;
        z-index: 2;
    }  
}
@media screen and (max-width: 915px){
    .gsa{
        width: 90%;
       
    }
}
@media screen and (max-width: 480px){
    .menu{
        background: black;
       
    }
    .menu a{
        color: white    ;
    }
    .header{
        display: block;
    }
    .services-list img{
        max-width: 40px;
    }
    .services-image{
   
        border: 1px solid black;
        margin: 0 15px 0 0;
        border-radius: 100%;  
        display: flex;
    }
    .services-list h3{
        font-size: 15px;
    }
    .services-list{
        border-bottom: .5px solid gray;
    }
    
    .container-promotion{
        border-top: none;
    }
    .gsa-nosotros p{
        font-size: .7em;
    }
    .gsa-mision{
        width: initial;
    }
    .gsa-mision .gsa-mision-info{
        font-size: .7em;
    }
    .gsa-mision-info {
        padding: 0 20px 20px 20px;
    }
    .servicios-title2{
        font-size: 1.5em;
        text-shadow: 2px 2px 8px rgba(46, 43, 43, 0.739);
        color: Black;
    }
    .gsa-instalaciones{
        width: 90%;
    }
    .slider{
        background: white;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.125);
        /* height: 200px; */
        margin:0 auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 1800px;
        /* padding: 0px auto; */
        border-radius: initial;
    }
    .footer{
        background: radial-gradient(white 10%,rgb(214, 213, 213)); 
    }
    .foot-div{
        color: black;
    }
   
}
@media screen and (max-width: 320px){
    .services-list img{
        /* /* min-width: 30px; */
        max-width: 20px;
    }
  
    .services-image{  
        border: 1px solid black;
        margin: 0 15px 0 0;
        border-radius: 100%;  
        display: flex;
    }
    .services-list h3{
        font-size: 15px;
    }
    .slide2 img{
        width: 100%;
        max-width: 300px;
    }    
}
 